html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

button{
  cursor: pointer;
}

.form_content_active{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.70 );
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 5;
}

.form_content {
  display: none;
}

/* .bg2_active{
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.70 );
}

.bg2{
  display: none;
} */